<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">SonCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img
              src="https://png.pngtree.com/png-clipart/20200401/original/pngtree-alphabet-letter-s-with-ornaments-floral-vintage-png-image_5341081.jpg"
              alt="" class="user-avatar">
            
          </a>
        <div class="dropdown-menu_background">  
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Update Car</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Product</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </div>
    
        </li>
      </ul>

      {{!-- <div class="header-cart">
        <button type="button" class="btn btn-outline-light"><i class="bi bi-cart3"></i></button>
        <span class="header_cart-notice">0</span>
        </div>
      </div> --}}

    </div>
  </div>
</nav>